:root {
  --black: #444;
}

@font-face {
  font-family: "Mukta-Regular";
  src: local("Mukta-Regular"),
    url("assets/fonts/Mukta-Regular.ttf") format("truetype");
}

.text-black {
  color: var(--black);
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.w-160 {
  min-width:160px;
}

.text-center{
  text-align: center;
}

.container {
  padding-left:15px;
  padding-right:15px;
}

.overflowHidden {
  overflow: hidden !important;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Mukta-Regular, "sans-serif";
}

html,
body{
  width: 100%;
}

body {
  color: white;
  background: #B3D0F2;
  padding-bottom: 60px;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

.form-container {
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.form-container .input-wrapper {
  background-color: white;
  border-radius: 999px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.form-container button {
  border-radius: 999px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 10px 20px;
  border: none;
  cursor: pointer
}

.form-container input {
  border: none;
  background-color: transparent;
  outline: none ;
  padding-left: 16px;
  height: 100%;
}

.city-description {
  padding: 16px 0;
}

.city-description .celcius {
  font-size: 18px;
  vertical-align: super; 
}

.city-temperature {
  font-size: 24px;
}

.city-name {
  font-size: 32px;
}

.section {
  background: #266891;
  background: -webkit-linear-gradient(left, #266891, #9B91D8);
  background: -moz-linear-gradient(left, #266891, #9B91D8);
  background: linear-gradient(to right, #266891, #9B91D8);
  border-radius: 7px;
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.section-title {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 24px;
}

.locations-list ol {
  padding-left: 8px;
}

.locations-list li {
  cursor: pointer;
}

.locations-list li p {
  text-transform: capitalize;
  text-decoration: underline;
}

.slider {
  display: flex;
  gap: 50px;
  overflow-x: scroll;
}

.slider > div {
  min-width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-day-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forecast-day-summary-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.forecast-day-summary .celcius {
  font-size: 15px;
  vertical-align: super;
}

.forecast-day-summary h2,
.forecast-day-summary span {
  font-size: 16px;
}

.full-forecast {
  margin-top: 16px
}

.full-forecast button {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 999px;
  color: black;
  cursor: pointer;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.icon-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modal-wrapper {
  overflow: hidden;
  background-color: rgba(245,245,245,0.6);
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height: 100%;
  width: 100%;
  padding-left:16px;
  padding-right:16px;
}

.modal {
  background-color: white;
  color:black;
  border-radius: 7px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
  padding: 16px;
}

.modal-header {
  margin-bottom: 16px
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.slider.modal-slider {
  justify-content:normal !important;
  overflow-x: scroll;
  margin-bottom: 32px;
}

.row {
  display: flex;
}

.col-6{
  max-width: 50%;
  flex: 0.5
}

.today-weather-details-group {
  margin-bottom: 16px;
}

@media(min-width: 768px){
  .section-title {
    font-size: 24px;
    text-align: center;
  }
 .five-day-forcast-wrapper {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .today-weather-details {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .locations-list ol {
    display: flex;
    list-style: none;
    justify-content: center;
  }

  .locations-list ol li:not(:first-child) {
    margin-left: 16px;
  }

}
